<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>2680391.3518650513</real>
	<key>iframe_MaxBitRate</key>
	<real>367152.9411764706</real>
	<key>iframe_avgBitRate</key>
	<real>102848.37253504395</real>
	<key>maxBitRate</key>
	<real>2997993.5483870963</real>
	<key>videoCodecInfo</key>
	<string>avc1.4d401e</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>544</real>
		<key>Width</key>
		<real>464</real>
	</dict>
</dict>
</plist>
