<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>945493.94155381329</real>
	<key>iframe_MaxBitRate</key>
	<real>79497.142857142855</real>
	<key>iframe_avgBitRate</key>
	<real>42013.019719648371</real>
	<key>maxBitRate</key>
	<real>1096716.8</real>
	<key>videoCodecInfo</key>
	<string>avc1.42e015</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>360</real>
		<key>Width</key>
		<real>307</real>
	</dict>
</dict>
</plist>
